name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  install:
    runs-on: ubuntu-latest
    container:
      image: node:18.18
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: "**/node_modules"
        key: "node_modules-${{ hashFiles('package-lock.json') }}"
        lookup-only: true
    - run: npm ci

  build:
    needs: install
    runs-on: ubuntu-latest
    container:
      image: node:18.18
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: "**/node_modules"
        key: "node_modules-${{ hashFiles('package-lock.json') }}"
    - run: npm run build

  lint:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: node:18.18
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: "**/node_modules"
        key: "node_modules-${{ hashFiles('package-lock.json') }}"
    - run: npm run lint

  test:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: node:18.18
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: "**/node_modules"
        key: "node_modules-${{ hashFiles('package-lock.json') }}"
    - uses: actions/cache@v4
      with:
        path: "**/coverage"
        key: "coverage-${{ hashFiles('package-lock.json') }}"
        lookup-only: true
    - run: npm run test:ci

  coverage:
    needs:
    - lint
    - test
    runs-on: ubuntu-latest
    container:
      image: node:18.18
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: "**/node_modules"
        key: "node_modules-${{ hashFiles('package-lock.json') }}"
    - uses: actions/cache@v4
      with:
        path: "**/coverage"
        key: "coverage-${{ hashFiles('package-lock.json') }}"
    - run: npm run test:report:coverage
